<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head'); %>

<body>
	
	<%- include('partials/header'); %>

	<section id="hero">
		<div class="hero-box">
		<h2>Content Creation <span>Studio</span> </h2> 
		<p><strong>It's not only about having a social media account,</strong></p>
		<h4>your company needs to plan and share what's really important.</h4>
		<button>Boost my brand content</button>
		</div>
	</section>
	
	<section id="feature" class="section-p1">
		<div class="fe-box">
			<img src="/img/features/feature1.png" alt="">
			<h6>Lack of time to create content?</h6>
			<p>We create your posts for social media for all types of niches.</p>
		</div>
		<div class="fe-box">
			<img src="/img/features/feature2.png" alt="">
			<h6>No ideas for content topics?</h6>
			<p>We plan and create your copy focused on your goals with your brand tone of voice.</p>
		</div>
		<div class="fe-box">
			<img src="/img/features/feature3.png" alt="">
			<h6>Not good with graphic design?</h6>
			<p>Our designers create attractive, high-quality images for your posts with your brand style.</p>
		</div>
		<div class="fe-box">
			<img src="/img/features/feature4.png" alt="">
			<h6>Need an affordable social media marketing service?</h6>
			<p>Our service is cheaper because we do the hardest and time consuming work,
			 of planning and creating your content, but you will publish it and manage your media.</p>
		</div>
	</section>
	<section id="service1" class="section-p1">
		<h3>Social Media Content Creation</h3>
		<p>Our Packages</p>
		<div class="pro-container">
			<div class="pro">
				<div class="des">
					<h3>Starter</h3>
					<div class="doublecheck">
						<i class="fas fa-check-double"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 12 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 8 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
			<div class="pro">
				<div class="des">
					<h3>Essential</h3>
					<div class="doublecheck">
						<i class="fas fa-rocket"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 20 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 16 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
			<div class="pro">
				<div class="des">
					<h3>Growth</h3>
					<div class="doublecheck">
						<i class="fas fa-chart-line"></i>
					</div>
					<ul  class="checked">
						<li><i class="fas fa-check"></i> 30 Posts (Copy & Image)</li>
						<li><i class="fas fa-check"></i> 24 Stories</li>
						<li><i class="fas fa-check"></i> Unlimited license</li>
						<li><i class="fas fa-check"></i> Strategic content</li>
						<li><i class="fas fa-check"></i> Bespoke graphic designs</li>
					</ul>
					<h4>$$$</h4>			
				</div>
				<a href="/book-a-package">Book this Package</a>
			</div>
		</div>
	</section>
	
		<!-- <%- include('partials/banner'); %> -->	

	<%- include('partials/newsletter'); %>

	<%- include('partials/footer'); %>
</body>

</html>