<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head'); %>

<body>
	
	<%- include('partials/header'); %>

    <section id="page-header" class="aboutus-header">
		<h2>Lorem ipsum</h2>
		<p>Lorem ipsum</p>
	</section>

	<!DOCTYPE html>
	<section id="feature" class="section-p1">
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 01</h6>
			</div>
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 02</h6>
			</div>
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 03</h6>
			</div>
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 04</h6>
			</div>
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 05</h6>
			</div>
			<div class="fe-box">
				<img src="/img/features/feature1.png" alt="">
				<h6>Info 06</h6>
			</div>
		</section>

	<%- include('partials/banner'); %>

	<%- include('partials/newsletter'); %>

	<%- include('partials/footer'); %>
</body>

</html>